/* Selector */

#cal-selector {
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #0467BA;
  padding: 5px 0;
}

#cal-selector #mini-cal-button{
  display:block;
  background: url('/ui/icons/16x16/calendar.png');
  height: 16px;
  width: 16px;
}

#cal-selector ul{
  height: 20px;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  text-align: center;
}

#cal-selector li{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 20px;
}

#cal-selector li:first-child a{
  border-radius: 3px 0 0 3px;
}

#cal-selector li a{
  background-color: #F4F4F4;
  border-left: 1px solid #666666;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-right: 0;
  color: #666666;
  margin: 0;
  padding: 2px 15px;
  height: 16px;
  text-decoration:none;
}

#cal-selector li:last-child a{
  border-right: 1px solid #666666;
  border-radius: 0 3px 3px 0;
}

#cal-selector li a.enabled{
  background-color: #D0D0D0;
  color: #000;
}

#cal-selector #cal-selector-today-link li a{
  border-radius: 3px;
}

#cal-selector #attributes,
#cal-selector-today-link,
#cal-selector-navigation-links,
#cal-selector-title{
  float: left;
}

#cal-selector-view-links{
  float: right;
}

/* ******** */

#cal-monthly-view table,
#cal-daily-view table,
#cal-weekly-view table {
  border-spacing: 1px;
  border-collapse: collapse;
}
#cal-monthly-view td,
#cal-daily-view td,
#cal-weekly-view td {
  background: #fff;
  border: 1px solid #0467BA;
}

#cal-weekly-view .cal-today,
#cal-daily-view .cal-today {
  margin-left: 2px;
  color: #3465a4;
  font-size: 12px;
  font-style: italic;
}

#cal-monthly-view th,
#cal-daily-view th,
#cal-weekly-view th {
  background: #fff;
  color: #0467BA;
  font-weight: bold;
}

#cal-weekly-view th.time,
#cal-daily-view th.time{
  font-size: 0.8em;
  padding: 4px 0;
}

#cal-weekly-view th.header {
  width: 110px;
}

#cal-weekly-view th.cal-day-selected {
  width: 90px;
}

#cal-monthly-view .month {
  font-weight: bold;
  color: #0467BA;
  padding: 2px 2px 0 3px;
  border: none;
  border-bottom: 1px solid #0467BA;
}

#cal-monthly-view .day,
#cal-weekly-view .day {
  height: 70px;
}

#cal-monthly-view .bold {
  font-weight: bold;
  padding-left: 2px;
}

#cal-monthly-view .cal-day-selected, #cal-weekly-view .cal-day-selected {
  color: #0467BA;
}

#cal-monthly-view .cal-day-selected {
  padding: 1px;
  font-weight: bold;
}

#cal-monthly-view .add-event, #cal-weekly-view .add-event,
#cal-daily-view .add-event {
  color: #0467BA;
  font-size:11px;
  vertical-align: top;
  text-decoration: none;
}

#cal-monthly-view .add-event img, #cal-weekly-view .add-event img {
  vertical-align: bottom;
}

#cal-monthly-view .event dd , #cal-weekly-view .event dd {
  font-size: 1em;
  margin-left: 5px;
}

#cal-monthly-view .event .CONFIRMED,
#cal-monthly-view .CONFIRMED a,
#cal-weekly-view .CONFIRMED {
  text-decoration: none;
  color: #fff;
}
#cal-monthly-view .event .TENTATIVE,
#cal-monthly-view .TENTATIVE a,
#cal-weekly-view .TENTATIVE {
  text-decoration: none;
  color: #fff;
}
#cal-monthly-view .event .CANCELLED,
#cal-monthly-view .event .CANCELLED a,
#cal-weekly-view .CANCELLED {
  text-decoration: line-through;
  color: #f0f0f0;
}

#cal-monthly-view .event .time , #cal-weekly-view .event .time {
  font-size: 0.7em;
}

#cal-monthly-view .event span, #cal-weekly-view .event span {
  margin: 0;
}

table.timetable {
  border: 1px solid #ffffff;
}

/* COLORS for events background */

#cal-monthly-view td.day,
#cal-daily-view td,
#cal-weekly-view td.free {
  background-color: #F9F9F9;
  padding: 0;
  border-collapse: collapse;
}

#cal-weekly-view #full-day-events table.event {
 border-collapse: collapse;
}

#cal-monthly-view .event,
#cal-weekly-view #full-day-events table.event td {
 border-top: 1px solid #0467BA;
 padding: 2px;
}

#cal-weekly-view a span {
 padding: 2px;
/*  color: #002090; # override status color */
}

#cal-monthly-view .event .color0 td, #cal-weekly-view td.color0 {
 background-color: #AC81A1;
}

#cal-monthly-view .event .color1 td, #cal-weekly-view td.color1 {
 background-color: #719C71;
}

#cal-monthly-view .event .color2 td, #cal-weekly-view td.color2 {
 background-color: #C1617C;
}

#cal-monthly-view .event .color3 td, #cal-weekly-view td.color3 {
 background-color: #A0A5B5;
}

#cal-monthly-view .event .color4 td, #cal-weekly-view td.color4 {
 background-color: #A59580;
}

/**************************************************************************
 * edit_event
 **************************************************************************/
p#event-owner {
  margin-top: 0;
}

.add-event-area, .event{
  cursor: pointer;
}

/**************************************************************************
 * Calendar caption
 **************************************************************************/
#calendar-caption{
  margin: 5px 0;
}
#calendar-caption-title{
  float: left;
  line-height: 15px;
}
.calendar-family{
  float: left;
  line-height: 15px;
}
.calendar-family-color{
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin: 0 5px;
}
