MANIFEST
*~
*.pyc
*.swp
build
dist
version.txt
ikaaro/locale/*.mo
ikaaro/environment.json
test/demo.hforge.org/
*.xml.es
*.xml.fr
*.xml.it
*.xml.zh
*.xml.nl
*.xml.de
*.xml.ca
*.xml.nl_BE
*.xhtml.es
*.xhtml.fr
*.xhtml.it
*.xhtml.zh
*.xhtml.nl
*.xhtml.de
*.xhtml.ca
*.xhtml.nl_BE
