Armel Fortun <armel@tchack.com>
Armel Fortun <armel@tchack.com> <armel@maar.fr>

Henry Obein <henry.obein@gmail.com> <henry@itaapy.com>

J. David Ibáñez <jdavid.ibp@gmail.com> <jdavid@itaapy.com>

Nicolas Deram <nderam@gmail.com> <nicolas@itaapy.com>
Norman Khine <norman@khine.net> <khinester@aqoon.local>

Sylvain Taverne <taverne.sylvain@gmail.com> <sylvain@itaapy.com>
Sylvain Taverne <taverne.sylvain@gmail.com> <sylvain@agicia.com>
Sylvain Taverne <taverne.sylvain@gmail.com>
