.defaultSkin textarea {
  width: 100%;
  height: 100%;
  color: #000;
  background: #fff;
  font-size: 1.2em;
}

#content .document h1 {
  margin: 15px 0 3px 0;
}

#content .document h2 {
  margin: 12px 0 3px 9px;
}

#content .document h3 {
  margin: 9px 0 3px 18px;
  font-style: italic;
}

#content .document h4 {
  margin: 9px 0 3px 27px;
}

#content .document a:link,
#content .document a:hover,
#content .document a:visited {
  text-decoration: none;
}

#content .document h1 a,
#content .document h2 a,
#content .document h3 a {
  color: #000;
}

#content .document ul,
#content .document ol {
  padding-left: 40px;
}

#content .document li {
  margin-top: 1px;
  margin-bottom: 1px;
}

#content .document blockquote {
  margin-left: 20px;
}

#content .document .book {
  border: 1px dashed #729fcf;
  border-top: none;
  margin-top: -11px;
}

#content .contents.topic {
  display: table;
  margin: 3px;
  border: 1px solid #ccc;
  background: #eec;
  padding: 0 3px;
}

#content .contents.topic ul ul {
  padding-left: 20px;
}

.document .topic-title.first {
  font-size: 1.1em;
  font-weight: bold;
}

.document .figure {
  display: table;
  padding: 1em;
  border: 1px solid #999;
  background: #ffe;
}

#content .document .reference.external:link,
#content .document .reference.external:visited {
  padding-left: 18px;
  color: blue;
  background: url(../icons/16x16/website.png) top left no-repeat;
}

#content .document .reference.internal:link,
#content .document .reference.internal:visited {
  color: blue;
}

#content .document .reference.wiki:link,
#content .document .reference.wiki:visited {
  color: green;
}

#content .document .reference.nowiki:link,
#content .document .reference.nowiki:visited {
  color: red;
}

.document .literal-block {
  padding: 1em;
  border: 1px dashed #729fcf;
  background: #fafafa;
}

.document .problematic {
  background-color: red;
}

.document .system-message {
  background-color: #fdd;
}

.document .system-message-title {
  font-weight: bold;
}

.document .note {
  padding: 1em;
  border: 1px dashed #9fcf72;
  background: #fefefe;
}

.document .note .admonition-title {
  font-weight: bold;
}

table.docutils {
  border-collapse: collapse;
  border: 2px solid #cacecf;
}

table.docutils td {
  border-bottom: 1px solid #bec1c2;
  padding: 1px 5px;
  margin: 0 5px;
}

table.docutils.field-list {
  border: none;
}

table.docutils.field-list td {
  border: none;
}

.defaultSkin td .odt_icon {
  background: url("/ui/icons/16x16/odt.png") no-repeat scroll 3px 3px transparent
}
