body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  /* 1em = 10px */
  font-size: 62.5%;
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

select, input, textarea, button {
  color: #000;
  background: #fff;
  font-size: 1.0em;
}

input {
  background-position: left center;
  background-repeat: no-repeat;
}

a { color: #3465a4; }
a img { border: 0; }

#layout {
  width: 980px;
}

#header {
  text-align: right;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 32px 10px 3px 25px;
}

#header a {
  background-position: left center;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  padding: 4px 0px 4px 20px;
  text-decoration: none;
}

#header a img {
  vertical-align: middle;
}

#header a:hover {
  text-decoration: underline;
}

#header a#top_menu_login {
  background-image: url(../icons/16x16/lock.png);
}

#header a#top_menu_register {
  background-image: url(../icons/16x16/card.png);
}

#header a#top_menu_home {
  background-image: url(../icons/16x16/action_home.png);
}

#header a#top_menu_profile {
  background-image: url(../icons/16x16/action_home.png);
}

#header a#top_menu_logout {
  background-image: url(../icons/16x16/action_logout.png);
}

#header a#top_menu_search {
  background-image: url(../icons/16x16/button_search.png);
}

#header a#top_menu_contact {
  background-image: url(../icons/16x16/mail.png);
}

#site_search_form { float: right; }
#site_search_form input { font-size: 1em; }

#action_login { background-image: url(../icons/16x16/lock.png); }
#action_join { background-image: url(../icons/16x16/card.png); }
#action_home { background-image: url(../icons/16x16/action_home.png); }
#action_logout { background-image: url(../icons/16x16/action_logout.png); }

#maintitle h1 {
  margin: 0;
  padding: 9px 0 0 0;
}

#breadcrumbs {
  float: left;
  font-size: 1.1em;
  margin: 2px 0px 2px 0px;
}

#breadcrumbs span {
  color: #888a85;
}

#breadcrumbs a {
  text-decoration: none;
  padding: 2px 4px 2px 4px;
}

#breadcrumbs a:hover {
  background-color: #3465a4;
  color: #ffffff;
}

/**************************************************************************
 * Tabs
 * ***********************************************************************/

#tabs {
  padding: 2px 4px 2px 0px;
  float: right;
  font-size: 1.1em;
}

#tabs a {
  text-decoration: none;
  white-space: nowrap;
}

#tabs .menu a {
  padding: 2px 4px 2px 4px;
}

#tabs .menu a:hover {
  background-color: #3465a4;
  color: #ffffff;
}

#tabs .active a {
  font-weight: bold;
}

/**************************************************************************
 *
 * ***********************************************************************/
#message {
  margin: 3px;
  padding: 3px 0 3px 24px;
  border: 2px solid #000;
  background: #fcaf3e url(../images/message.png) left center no-repeat;
}

#body {
  padding: 10px;
  font-size: 1.4em;
  min-height: 280px;
}

#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
  border-bottom: 1px solid #d3d7cf;
}

#body ol li { list-style-type: decimal; }
#body ul li { list-style-type: square; }

#body form fieldset {
  border-bottom: 1px solid #d3d7cf;
}
#body form legend {
  font-size: 0.9em;
}
#body form dd { padding-bottom: 5px; }
#body form p { clear: both; }
#body form .form_mandatory {
  color: red;
  font-weight: bold;
}

#body .field_required {
  font-style: italic;
}

#body form .missing {
  color: #ff0000;
}

#location {
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 4px 8px;
  width: 99%;
}

#header_right {
  background: #c17d11;
}

#right {
  font-size: 1.0em;
  padding-left: 8px;
  width: 210px;
}

#right a, #right a:link, #right a:visited, #right a:hover, #right a:active {
  text-decoration: none;
  color: #3465a4;
}

#right label {
  display: block;
  width: 205px;
  margin: 3px;
  padding: 3px 6px;
  color: #fff;
  background: #c17d11;
}

#right ul,
#right dl {
  margin: 3px 6px 10px 3px;
}

#right ul {
  list-style: none;
}

#right li {
  margin: 3px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: top left;
  line-height: 1.6em;
  list-style: none;
}

#right li a {
  padding-left: 20px;
}

#right dl {
  padding: 3px;
}

#right dl dl {
  margin: 0;
  border: 0;
  padding: 0;
}

#right dt {
  overflow: hidden;
  line-height: 1.6em;
  border-bottom: 1px solid #d3d7cf;
}

#right dd {
  margin-left: 9px;
}

#footer {
  text-align: center;
  border-top: 1px solid #729fcf;
  font-size: 1.0em;
  margin: 35px auto 0 auto;
  padding: 3px;
  width: 500px;
}

#footer a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

dl.thumb {
  float: left;
  width: 8em;
  height: 8em;
  margin: 0;
  padding: 5px;
  text-align: center;
}

dl.thumb dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

dl.thumb dd {
  margin: 0;
  padding: 0;
}

table.new_resource_thumb {
  float: left;
  margin-bottom: 10px;
  width: 18em;
}

.button_ok {
  padding-left: 16px; background-image: url(../images/button_ok.png);
}

.button_cancel {
  padding-left: 16px; background-image: url(../images/button_cancel.png);
}

.button_search {
  background-image: url(../icons/16x16/button_search.png);
  padding-left: 16px;
}

.button_calendar {
  background-image: url(../icons/16x16/button_calendar.png);
  padding-left: 16px;
}

.button_upload {
  background-image: url(../icons/16x16/button_upload.png);
  padding-left: 16px;
}

.button_external {
  background-image: url(../icons/16x16/button_external.png);
  padding-left: 16px;
}

.button_rename {
  background-image: url(../icons/16x16/button_rename.png);
  padding-left: 16px;
}

.button_delete {
  padding-left: 16px; background-image: url(../images/button_delete.png);
}

.button_copy {
  padding-left: 16px; background-image: url(../images/button_copy.png);
}

.button_cut {
  padding-left: 16px; background-image: url(../images/button_cut.png);
}

.button_paste {
  padding-left: 16px; background-image: url(../images/button_paste.png);
}

.button_translate {
  background-image: url(../icons/16x16/languages.png);
  padding-left: 16px;
}

.button_compare {
  background-image: url(../icons/16x16/button_compare.png);
  padding-left: 16px;
}

.button_add {
  padding-left: 16px; background-image: url(../images/button_add.png);
}

.button_select_all {
  padding-left: 16px; background-image: url(../images/button_select_all.png);
}

.button_select_none {
  padding-left: 16px; background-image: url(../images/button_select_none.png);
}

.results li { margin: 3px 3px 6px; }
.result_control { background: #deeff1; }
.result_url, .result_type, .result_size { font-size: 0.9em; }
.result_url { color: #008000; }

.number { text-align: right; }

/* Left navigation menu */
.nav_active {
  font-weight: bold;
}

/* Browse list */
#browse_list thead th {
  padding: 6px;
  background: #d3d7cf;
  white-space: nowrap;
}

#browse_list thead th.checkbox {
  padding: 6px 3px;
}

#browse_list thead th.checkbox input {
  background-color: #d3d7cf;
}

#browse_list tbody td {
  padding: 3px;
  vertical-align: top;
}

tr.odd th, tr.odd td,
tr.odd td input {
  background: #eeeeec;
}

th a.sort_up {
  background: transparent url(images/order-up.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_down {
  background: transparent url(images/order-down.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_none {
  background: transparent url(images/order-none.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

/* Workflow */
.workflow { text-decoration: none; }
.wf_private { color: #c00; }
.wf_pending { color: #f57900; }
.wf_public { color: #4e9a06; }
