
h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

a { color: #3465a4; }

legend {
  font-weight: bold;
}


/**************************************************************************
 * ui/aruni/template.xhtml.en
 *************************************************************************/

body {
  background: #aaa;
}

div#page {
  background: #fff;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 3px #444;
  -moz-box-shadow: 1px 1px 3px #444;
  -webkit-box-shadow: 1px 1px 3px #444;
  margin: 0 auto 30px auto;
  max-width: 960px;
}

#header {
  text-align: right;
  background: #729fcf;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 10px;
  min-height: 70px;
  padding: 6px 10px 3px 10px;
  position: relative;
}

/* Minimal height */
/* All browsers */
body > #header {
  min-height: 50px;
  height: auto;
}

/* IE 6 & <*/
* html #header{
  height: 50px;
}

#header a {
  color: white;
  font-size: 1.2em;
  margin: 0px;
  padding: 4px 2px;
  text-decoration: none;
}

#header a img {
  vertical-align: middle;
}

#header a:hover {
  text-decoration: underline;
}

#header #links {
  padding: 4px;
  position: absolute;
  left: 10px;
  top: 0;
}

#header #links a {
  background-position: left center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0 10px 0 0;
  padding: 4px 0 4px 19px;
}

#header #links-menu-login {
  background-image: url("../icons/16x16/lock.png");
}

#header #links-menu-profile {
  background-image: url("../icons/16x16/action_home.png");
}

#header #links-menu-register {
  background-image: url("../icons/16x16/card.png");
}

#header #links-menu-logout {
  background-image: url("../icons/16x16/action_logout.png");
}

#header a#links-menu-new {
  background-image: url(../icons/16x16/new.png);
}

#header #languages a.selected {
  font-weight: bold;
}

#header #logo {
  padding-top: 35px;
  float: left;
}

/* header toolbar */
#header .header-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px; /* same as links */
}

#header .header-toolbar td {
  padding: 0 4px;
}

#header .header-toolbar .search form {
  margin: 0;
}

#header .button-search {
  background: #fff;
  padding-left: 0;
}

#header #menu {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}

#header #menu li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
}

#header #menu li a {
  background: #777;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  display: block;
  font-size: 1em;
  padding: 5px 15px;
  text-decoration: none;
}

#header #menu li a:hover,
#header #menu li.in-path a {
  background: #fff;
  color: #333;
}

#content {
  width: 100%;
}

#right {
  width: 210px;
}

#footer {
  background: #777;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  color: #fff;
  margin: 35px auto 0 auto;
  padding: 5px;
  text-align: center;
}

#footer a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}


/**************************************************************************
 * ui/aruni/template.xhtml.en
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

#body {
  padding: 10px;
  font-size: 1.4em;
  min-height: 450px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  border-bottom: 1px solid #d3d7cf;
}

#content ol li { list-style-type: decimal; }
#content ul li { list-style-type: square; }

#content form fieldset {
  border-bottom: 1px solid #d3d7cf;
}

#content form legend {
  font-size: 0.9em;
}

#content form dd { padding-bottom: 5px; }
#content form p { clear: both; }


/**************************************************************************
 * ui/commnets.xml.en
 *************************************************************************/

.comment-header {
  background-color: #ddddff;
  font-weight: bold;
}

.comment-body {
  font-family: "Arial", "DejaVu Sans", sans-serif;
}
