table.cart{
  border: 1px solid black;
  border-collapse:collapse;
}

table.cart th{
  font:bold 13px Arial,sans-serif;
  border: 1px solid black;
  padding:5px 3px 5px 3px;
  color:#FFFFFF;
  background:#729fcf;
}

table.cart td{
  padding:5px 3px 5px 3px;
  text-align:center;
  border:1px solid black;
}
