.tracker-issue-comment-title {
  background-color: #ddddff;
  font-weight: bold;
}

.tracker-select {
  width: 97%;
}

.com {
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

.tracker-product {
  color: #CC0000;
  font-style: italic;
}

.tracker-resource {
  color: #0A4A0A;
}
