/* RESET */
* {
  box-sizing: border-box; -moz-box-sizing: border-box;
  border: 0; margin: 0; padding: 0;
}

ul {
  list-style: none;
}

/* UNRESET */
fieldset
{ padding: 1em; }

body {
  background-color: #fff;
  color: #222;
  font-size: 100%;
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }


/* FORMS */
button, input, select, textarea {
  background-color: #fff;
  border: 1px solid #999;
  color: #222;
}

input[disabled] {
  background-color: #eee;
  color: #eee;
}

button:focus, input:focus, select:focus, textarea:focus
{ border-color: black; }

button {
  background-color: #eee;
  color: #555;
  font-weight: bold;
  border-radius: 3px;
  margin: 5px;
  padding: .1em .5em;
  box-shadow: 2px 2px 2px #aaa;
}

button:hover
{ box-shadow: inset 2px 2px 2px #aaa; }

/* HELPERS */
.clear
{ clear: both; }



/**************************************************************************
 * TEMPLATE
 *************************************************************************/

/* BACKOFFICE BAR */
#toolbar {
  background-color: #333;
  color: #fff;
  font-size: 0.9em;
  height: 2em;
}

#toolbar .top > li
{ float: left; }

#toolbar a {
  color: #999;
  display: block;
  text-decoration: none;
  background-position: 10px 60%;
  background-repeat: no-repeat;
  padding: 6px 11px 4px 31px;
}

#toolbar a:hover
{ color: #fff; }

#toolbar #toolbar-signin
{ background-image: url("../icons/16x16/signin.png"); }

#toolbar #toolbar-profile
{ background-image: url("../icons/16x16/home.png"); }

#toolbar #toolbar-logout
{ background-image: url("../icons/16x16/exit.png"); }

#toolbar #toolbar-add-content
{ background-image: url(../icons/16x16/new.png); }

#toolbar #toolbar-configuration
{ background-image: url(../icons/16x16/config.png); }

#toolbar #toolbar-actions
{ background-image: url(../icons/16x16/actions.png); }

#toolbar .top > li
{ position: relative; }

#toolbar li ul {
  background-color: #333;
  padding: 0 0 .6em 0;
  border-radius: 0 0 .5em .5em;
  border: 2px solid #333;
  position: absolute; z-index: 5;
  display: none;
}

#toolbar li:hover ul
{ display: block; }

#toolbar li ul a {
  width: 12em;
  margin: 0 0;
}



/**************************************************************************
 * itools.web.BaseForm
 *************************************************************************/

.field-is-required
{ font-style: italic; }

.field-is-missing
{ color: #ff0000; }

.field-error {
  color: #f22;
  font-weight: bold;
}


/**************************************************************************
 * ui/default/location.xml.en
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

#location {
  font-size: .8em;
  margin-right: 10px;
  padding: 0 0 4px 0;
  width: 100%;
}

#location li
{ float: left; }

#location a {
  text-decoration: none;
  padding: 0 4px 0 4px;
  float: left;
}

#location a:hover {
  background-color: #3465a4;
  color: #ffffff;
}


/**************************************************************************
 * ui/default/message.xml.en
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

#message * {
  margin: 3px;
  border-width: 2px;
  border-style: solid;
  padding: 3px 0 3px 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

#message a
{ border: none; }

#message .info {
  border-color: #e7db52;
  background-color: #ffffe7;
  background-image: url(icons/16x16/message.png);
}

#message .error {
  border-color: #e75252;
  background-color: #ffe7e7;
  background-image: url(icons/16x16/error.png);
}


/**************************************************************************
 * ui/generic/menu.xml.en
 * ui/generic/select_fields_menu.xml.en
 *************************************************************************/

.context-menu {
  font-size: 0.8em;
  padding-left: 8px;
  margin-bottom: 2em;
}

.context-menu a,
.context-menu a:link,
.context-menu a:visited,
.context-menu a:hover,
.context-menu a:active {
  text-decoration: none;
  color: #3465a4;
}

.context-menu-title {
  width: 100%;
  margin: 3px;
  padding: 3px 6px;
  color: #fff;
  background-color: #888a85;
  font-weight: bold;
}

.context-menu fieldset
{ margin-bottom: 3px; xwidth: 100%; }

.context-menu ul {
  margin: 3px 6px 10px 3px;
  list-style: none;
  padding: 3px;
}

.context-menu li {
  margin: 3px;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  background-position: top left;
  border-bottom: 1px solid #d3d7cf;
  list-style: none;
  overflow: hidden;
}

/**************************************************************************
 * ui/generic/icons_view.xml.en
 * ui/user/profile.xml.en
 *************************************************************************/

.new-resource-thumb {
  float: left;
  width: 16em;
  height: 6em;
  margin-right: 0.7em;
}

.new-resource-thumb p
{ font-size: 0.95em; }

/**************************************************************************
 * ui/generic/browse_table.xml.en
 * ui/website/edit_languages.xml.en
 *************************************************************************/

#browse-list
{ border-spacing: 0px; }

#browse-list thead th {
  background-color: #d3d7cf;
  border-color: #ddd #aaa #aaa #ddd;
  border-style: solid;
  border-width: 1px;
  padding: 0 5px;
  text-align: left;
  font-size: 0.9em;
}

#browse-list thead th.checkbox
{ padding: 6px 3px; }

#browse-list thead th.checkbox input
{ background-color: #d3d7cf; }

#browse-list tbody td {
  border-bottom: 1px solid #DDDDDD;
  padding: 4px 5px;
  vertical-align: top;
}

#browse-list tr.even
{ background-color: #FFF; }

#browse-list tr.odd:hover, #browse-list tr.even:hover
{ background-color: #e0e0f0; }


#browse-list tr.odd, #browse-list tr.odd input
{ background-color: #f9f9f9; }

#browse-list th a.sort{
  float: left;
  width: 9px;
  height: 9px;
}

#browse-list th a.sort-up,
#browse-list th a.sort-up-active,
#browse-list th a.sort-down,
#browse-list th a.sort-down-active
{ background: transparent url(/ui/default/images/sprite_sort.png) no-repeat; }

#browse-list th a.sort-down { background-position: -10px -10px; }
#browse-list th a.sort-down-active { background-position: -10px -29px; }
#browse-list th a.sort-up { background-position: -10px -48px; }
#browse-list th a.sort-up-active { background-position: -10px -67px; }

#browse-list td a
{ text-decoration: none; }

#browse-list td a:hover
{ text-decoration: underline; }

#form-search div.block-widget-text,
#form-search div.block-widget-format,
#form-search div.block-widget-group,
#form-search div.block-widget-permission,
#form-search div.block-widget-search_path,
#form-search div.block-widget-search_format
{ float: left; margin-right: 0.5em; }

#form-search .autoform-actions
{ position: relative; top: 1em; }

form.autoform div.block-widget-search_path,
form.autoform div.block-widget-search_path_depth
{
  float: left;
  margin-right: 1em;
}


/**************************************************************************
 * NUMERIC BATCH
 **************************************************************************/

.batchcontrol
{ margin-bottom: 5px; }

.batch-pages
{ margin: 5px 0 10px 0; }

.batch-pages li
{ display: inline; }

.batch-pages a {
  width: 7px;
  height: 5px;
  padding: 3px 6px;
  border: 1px solid #DDDDDD;
  color: #000;
  text-decoration: none;
  font-size: 0.8em;
}

.batch-pages a:hover
{ background-color: #EEEEEC; }

.batch-pages a.current {
  background-color: #EEEEEC;
  font-weight: bold;
}

/**************************************************************************
 * ui/folder/browse_search.xml.en
 * ui/generic/browse_search.xml.en
 * ui/html/addbase_browse_search.xml.en
 *************************************************************************/

fieldset.search table td
{ vertical-align: bottom; }

fieldset.search button
{ margin-bottom: 0; }

/**************************************************************************
 * ui/website/search_table.xml.en
 *************************************************************************/

.results li
{ margin: 3px 3px 6px; }

.result-url, .result-type, .result-size
{ font-size: 0.9em; }

.result-url
{ color: #008000; }


/**************************************************************************
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

#maintitle h1
{ padding-top: 9px; }


/**************************************************************************
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

dl.thumb {
  float: left;
  width: 8em;
  height: 8em;
  padding: 5px;
  text-align: center;
}

dl.thumb dt
{ font-weight: bold; }


/**************************************************************************
 * Defined by resource_views.DBResource_Edit
 * Used by views.build_menu
 *************************************************************************/

.nav-active
{ font-weight: bold; }


/**************************************************************************
 * Defined for Javascript-based tabs (splitting a view in panels)
 *************************************************************************/

p.tabme {
  border-bottom: 1px solid #3465A4;
  padding: 0.5em 0;
}

p.tabme a {
  text-decoration: none;
  padding: 0.5em 1em;
}

p.tabme a.selected {
  color: #fff;
  background: #3465A4;
}

/**************************************************************************
 * Versionning views
 *************************************************************************/

#differ span, #differ div {
  font-family: monospace;
  font-size: 1em;
  white-space: pre;
}

#differ .rem, #git-stat .rem {
  color: red;
}

#differ .add, #git-stat .add {
  color: green;
}

#differ div {
  background-color: #EDECE6;
  border-color: #D9D8D1;
  border-style: solid;
  border-width: 1px 0;
  font-weight: bold;
  margin: 15px 0 4px 0;
  padding: 4px 0 2px;
}

/**************************************************************************
 * ui/file/externaledit.xml.en
 *************************************************************************/

#external-edit .unix, #external-edit .windows {
  width: 440px;
  min-height: 130px;
}

#external-edit .unix
{ float: left; }


/**************************************************************************
 * NOT YET CLASSIFIED
 *************************************************************************/

.broken { color: red; }
.number { text-align: right; }

.autoform .title
{ font-weight: bold; }

.autoform .language {
  font-size: 0.8em;
  margin-left: 5px;
}
.autoform .language.block
{ display: block; }

.autoform .widget
{ margin: 2px 0; }

.autoform input[type=radio],
.autoform input[type=checkbox]
{ width: auto; }

div.helpbox {
  background-color: #f6f6ff;
  border: 1px solid #ccc;
  border-radius: 15px;
  float: right;
  margin: 7px;
  padding: 7px;
  width: 25em;
}

div.helpbox img.helpbox-icon
{ float: left; }

div.helpbox div.helpbox-text
{ margin-left: 52px; }

/* Password strength meter */
span.testresult {
  font-weight: bold;
  margin-left: 1em;
}

span.shortPass
{ color: red; }

span.badPass
{ color: red; }

span.goodPass
{ color: #ffac00; }

span.strongPass
{ color: green; }










a { color: #3465a4; }

legend { font-weight: bold; }


/**************************************************************************
 * ui/default/template.xhtml.en
 *************************************************************************/

body
{ background: #fff; }

.popup, .mceContentBody
{ background: #fff; }

.inner
{ margin: 0 auto; max-width: 960px; }

#header {
  background-color: #0467BA;
  margin-bottom: 0em;
}

#header .inner {
  text-align: right;
  color: #fff;
  min-height: 90px;
  height: auto;
  position: relative;
}

#header a {
  color: white;
  padding: 4px 2px;
  text-decoration: none;
}

#header a img
{ vertical-align: middle; }

#header a:hover
{ text-decoration: underline; }

#header #languages
{
  position: absolute; top: .2em; right: 0;
  font-size: .9em;
}

#header #languages a.selected
{ font-weight: bold; }

#header #logo
{ position: absolute; bottom: 0px; left: 0; }

/* header */
#header #global-search
{ position: absolute; bottom: .5em; right: 0; }

#header #global-search input {
  background: #fff url(../icons/14x14/search-bw.png) no-repeat 6px center;
  border-radius: 12px;
  box-shadow: inset 2px 2px 2px #aaa;
  border: none;
  padding: 3px 12px 3px 23px;
  width: 12em;
}

#header #menu {
  position: absolute;
  bottom: 0;
  right: 12em;
  padding-right: 10px;
}

#header #menu li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
}

#header #menu li a {
  background: #777;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: block;
  padding: .5em 15px;
  text-decoration: none;
}

#header #menu li a:hover,
#header #menu li.in-path a {
  background: #fff;
  color: #333;
}

#content
{ float: left; }

#sidebar
{ float: right; width: 210px; margin-right: 1em; }

#footer {
  background: #777;
  color: #fff;
  font-size: .8em;
  margin: 2em auto 0 auto;
  padding: 1em;
  text-align: center;
  vertical-align: center;
}

#footer a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

#footer a:hover
{ text-decoration: underline; }


/**************************************************************************
 * ui/default/template.xhtml.en
 * ui/html/addlink.xml.en
 * ui/html/addimage.xml.en
 *************************************************************************/

#main .inner {
  padding: 10px;
  min-height: 450px;
  overflow: auto;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{ border-bottom: 1px solid #d3d7cf; }

#content ol li { list-style-type: decimal; }
#content ul li { list-style-type: square; }

#content form fieldset
{ border-bottom: 1px solid #d3d7cf; }

#content form legend
{ font-size: 0.9em; }

#content form dd { padding-bottom: 5px; }
#content form p { clear: both; }


/**************************************************************************
 * ui/comments.xml.en
 *************************************************************************/

.comment-header {
  background-color: #ddddff;
  font-weight: bold;
}

.comment-header .comment-datetime
{ margin-left: 15px; }

.comment-header .comment-number,
.comment-header .comment-reply
{ margin-right: 5px; }

.comment-body
{ font-family: "Arial", "DejaVu Sans", sans-serif; }

/**************************************************************************
 * Login
 *************************************************************************/

#registration-end-msg {
  font-size: 1.8em;
  margin: 10px 0;
}
