.table-calendar div {
    cursor: default !important;
}

.table-calendar .button {
    background: none !important;
}

.table-calendar .nav {
  background: #888a85 url(../js_calendar/menuarrow.gif) no-repeat 100% 100% !important;
}

.table-calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #888a85 !important;
  color: #fff !important;
}

.table-calendar td {
    vertical-align: top;
}
