#forum-thread-list th {
  text-align: left;
}

p.even, p.odd {
  margin: 5px;
  padding: 5px;
}

.odd {
  background-color: #ededed;
}

.forum-message-info {
  color: #fff;
}

.even .forum-message-info {
  background-color: #888a85;
}

.odd .forum-message-info {
  background-color: #729fcf;
}

.forum-thread-title {
  font-size: 1.2em;
  font-weight: bold;
}

.forum-thread-author {
  font-weight: bold;
}

.forum-message-author {
  font-weight: bold;
}

