#gallery_zoom {
  float: right;
}

#browse_image img {
  margin: 5px 3px;
  border: 1px solid;
  border-color: #aaa #444 #444 #aaa;
  padding: 3px 3px 10px 3px;
  background: #fff;
  vertical-align: top;
}
